*

!docker

!manifest.webmanifest
!sw.js
!sw-injector.js
!package.json
!package-lock.json
!nginx.conf

!*.html
!*.png
!*.svg
!*.xml

!audio
!css
!data
!fonts
!homebrew
!icon
!image
!js
!lib
!node
!pdf
!prerelease
!scss
!search
!sw-template.js
!sw-injector-template.js
